body {
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

* {
    box-sizing: border-box;
}


/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Header */
.header__inner {
    height: 70px;
    display: flex;
    justify-content: space-between;

    background-color: #f2f2f2;
}

.logo {
    transform: translate(5px, 21px);
}

.close {
    transform: translate(-15px, 15px);
}


/* Section */
.section {
    margin-top: 55px;
}

.section__header {
    margin-bottom: 60px;

    text-align: center;
}

.section__suptitle {
    margin: 7px 0;

    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section__title {
    margin: 7px 0;
    
    font-size: 2.25rem;
}


/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 19px;
}

.services__item {
    max-width: 370px;
    padding: 10px 30px;
    border: 2px solid #f17c0e;
    text-align: center;
}

.services__item_background {
    background-color: #fef1e6;
}

.services__icon {
    padding: 20px 0;
}

.services__title {
    padding-bottom: 20px;
    font-weight: 700;
}

.services__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #999999;
}


/* Footer */
.footer {
    margin-top: 60px;

    background-color: #333333;
    color: #f2f2f2;

    text-align: center;
}

.footer__inner {
    padding: 39px 0;

    font-size: 12px;
}

a {
    color: #cad8e5;
}


@media (max-width: 1177px) {
    .services {
        margin: 70px 0 100px;
    }

    .services__item {
        width: 300px;
        height: 250px;
    }
}

@media (max-width: 1025px) {
    .services {
        margin: 70px 0 100px;
    }

    .services__item {
        width: 300px;
        height: 250px;
    }
}

@media (max-width: 967px) {
    .services {
        margin: 70px 0 60px;
    }

    .services__item {
        width: 600px;
    }
}

@media (max-width: 805px) {
    .services {
        margin: 70px 0 60px;
    }

    .services__item {
        width: 550px;
    }
}

@media (max-width: 625px) {
    .services {
        margin-top: 78px;
    }

    .section__title {
        margin-top: 18px;
        margin-bottom: 0;
        line-height: 1.1;
    }

    .services__item {
        width: 540px;
        height: 240px;
    }
}

@media (max-width: 440px) {
    .section__title {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 24px;
    }

    .services__item {
        width: 340px;
        height: 240px;
    }

    .services__title {
        padding-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .services__text {
        font-size: 14px;
    }

    .footer {
        height: auto;
    }
}
